::-webkit-scrollbar {
    display: none;
}
@font-face {
  font-family: "Pokemon GB";
  src:url("img/PokemonGb-RAeo.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
    margin: 0;
    overflow-x: hidden;
    background-color: black !important;
  }

html, body {
    width:  100%;
    height: 100%;
    margin: 0;
    background:  #3e1183;
  }

#mobileSite{
    font-family: 'Shantell Sans', cursive;
    color: rgb(255, 255, 255);
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(img/blue.png);
}

#mobileText{
    font-weight: bold;
    font-size: 50px;
}

#name {
    position: absolute;
    bottom: 0;
    font-weight: bold;
    font-size: 50px;
}

@media screen and (max-width: 1024px) {
    #mobileSite {
      display: flex;
    }
    header, #threeD, #about, #canvas3d {
        display: none;
      }
    html, body {
      touch-action: none
      }
  }

  @media screen and (max-width: 1265px) {
    .aboutbody{
      margin-left: 2rem !important;
      margin-right: 2rem !important;
      margin-top: 5rem !important;
      margin-bottom: 5rem !important;
      }
  }
  @media only screen and (min-width: 1210px) and (max-width: 1120px) {
    .aboutbody{

    }
  }
  @media only screen and (min-width: 1020px) and (max-width: 1120px) {
    .aboutbody{
      font-size: 0.75rem;
    }
  }

.navbar{
    background-color: transparent;
    width: 100%; 
    text-align: center;
    font-family: 'Kanit', sans-serif;
    color: white;
}

.navbar-brand{
    font-size: 30px !important;
    color: white;
    margin-right: 1rem;
}


.navlink {
  border: 2px solid black;
  border-radius: 10rem;
  padding: 0.5rem 1rem;
  background-color: black;
  display: inline-block;
}

#threeD{
      margin: 0 !important;
      height: 100% !important;
      background-color: rgb(18,24,85);
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      background-image: url(img/polka.PNG);
      background-size: cover;

  }
canvas {
    display: block;
    margin: 0 auto;
    height:  100% !important; /* set the height to 100% to fill the available vertical space */
    width: 100% !important; /* set the width to auto to maintain the aspect ratio */
}

#canvas3d {
    display: none;
  }

  #heart {
    display: block;
    position: relative;
    width: 160px;
    height: 160px;
    margin: 50px auto 0;
    animation: beat 1s infinite alternate;
	  transform-origin: center;
  }
  
  #heart:before,
  #heart:after {
    position: absolute;
    content: "";
    left: 80px;
    top: 0;
    width: 80px;
    height: 130px;
    background: #e43833;
    -moz-border-radius: 50px 50px 0 0;
    border-radius: 50px 50px 0 0;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%;
  }
  
  #heart:after {
    left: 0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: 100% 100%;
    -moz-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    -o-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
  }

  @keyframes beat{
    to { transform: scale(1.5); }
  }
  
.box1 {
  display: none;
  position:absolute;
  bottom:7vh;
  z-index:2;
  font-size: 2vh;
  font-family: "Pokemon GB", Arial, sans-serif;
  border-radius: 2px;
  padding: 8px;
  width: 50vh;
  height: 15vh;
  margin-top: 50vh;
  line-height: 3vh;
  background: white;
  border: 1px solid white;
  box-shadow: 0 1px 0 1px black,
              inset 0 1px 0 1px black,
              0 0 0 1px black,
              inset 0 0 0 1px black;
            }
.box1 > i {
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-top-color: black;
  margin-top: 23px;
  animation: bounce 0.5s ease-in-out 0 infinite alternate;
  float: right;
}
.box2 {
  z-index: 0;
  display: block;
  position:absolute;
  bottom:25vh;
  font-size: 2vh;
  font-family: "Pokemon GB", Arial, sans-serif;
  border-radius: 2px;
  padding: 8px;
  width: 60vh;
  height: 22vh;
  margin-top: 3vh;
  line-height: 3vh;
  left: 50%;
  transform: translateX(-50%);
  background: white;
  border: 1px solid white;
  box-shadow: 0 1px 0 1px black,
              inset 0 1px 0 1px black,
              0 0 0 1px black,
              inset 0 0 0 1px black;
}
.box2 > i {
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-top-color: black;
  margin-top: 23px;
  animation: bounce 0.5s ease-in-out 0 infinite alternate;
  float: right;
}
.box2 button {
  position: absolute;
  bottom: 15px;
  right: 15px;
}
@keyframes bounce {
  from { margin-top: 20px; }
  to { margin-top: 23px; }
}
.redText {
  color: red;
}
#about{
  background-color: #3e1183;
  background: linear-gradient(to bottom, #3e1183, #815AC0);
  clip-path: circle(75% at 50% 50%);
  margin: 0 !important;
  height: 110vh;
  color: white;
  text-align: center;
  /* border: 2px solid red; */
}

.aboutbody{
font-size: 1.75rem;
margin: 3rem 10rem;
display: flex;
flex-direction: column;
justify-content: center;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --color-primary: #f6d3a2;
  --color-secondary: #f49b90;
  --color-tertiary: #ffa42c;
  --color-quaternary: #f07a6a;
  --color-quinary: #ee6352;
}


.abouttext {
  font-size: 9vh;
  padding-top: 4rem;
  text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary),
    9px 9px var(--color-quaternary), 12px 12px 0 var(--color-quinary);
  font-family: bungee, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: calc(2rem + 5vw);
  text-align: center;
  margin: 0;
  color: var(--color-primary);
  animation: shadows 1.2s ease-in infinite;
  letter-spacing: 0.4rem;
}

@keyframes shadows {
  0% {
    text-shadow: none;
  }
  10% {
    transform: translate(-3px, -3px);
    text-shadow: 3px 3px 0 var(--color-secondary);
  }
  20% {
    transform: translate(-6px, -6px);
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary);
  }
  30% {
    transform: translate(-9px, -9px);
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
  }
  40% {
    transform: translate(-12px, -12px);
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
      12px 12px 0 var(--color-quinary);
  }
  50% {
    transform: translate(-12px, -12px);
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
      12px 12px 0 var(--color-quinary);
  }
  60% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
      12px 12px 0 var(--color-quinary);
  }
  70% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
  }
  80% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary);
  }
  90% {
    text-shadow: 3px 3px 0 var(--color-secondary);
  }
  100% {
    text-shadow: none;
  }
}
.button {
  --c:  #FF9100; /* the color*/
  
  box-shadow: 0 0 0 .1em inset var(--c); 
  --_g: linear-gradient(var(--c) 0 0) no-repeat;
  background: 
    var(--_g) calc(var(--_p,0%) - 100%) 0%,
    var(--_g) calc(200% - var(--_p,0%)) 0%,
    var(--_g) calc(var(--_p,0%) - 100%) 100%,
    var(--_g) calc(200% - var(--_p,0%)) 100%;
  background-size: 50.5% calc(var(--_p,0%)/2 + .5%);
  outline-offset: .1em;
  transition: background-size .4s, background-position 0s .4s;
}
.button:hover {
  --_p: 100%;
  transition: background-position .4s, background-size 0s;
}
.button:active {
  box-shadow: 0 0 9e9q inset #0009; 
  background-color: var(--c);
  color: #fff;
}

.button{
  font-size: 2rem;
  font-family: system-ui, sans-serif;
  background-color: transparent;
  padding: .1em .6em;
  font-size: 2.7rem;
  font-weight: bold;  
  border: none;
  color: rgb(229, 229, 229);
}

#skills{
  background-color: #815AC0;
  background: linear-gradient(to bottom, #815AC0, #B185DB);
  height: 120vh;
  border: 3px solid red;
}
.skilltext{
  color: white;
  font-size: 9vh;
  text-align: center;
  text-decoration-color: initial;
  margin: 0;
}

.button-container {
  text-align: center;
}
.line-mf {
  width: 100px;
  height: 5px;
  background-color: #cc0000;
  margin: 0 auto;
}
.reset{
  font-size: 2rem;
  font-family: system-ui, sans-serif;
  background-color: transparent;
  padding: .1em .6em;
  font-weight: bold;  
  color: rgb(229, 229, 229);
  border: none;
  display: inline-flex;
  justify-content: center;
  margin-top: 2.75rem;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 5px;
  justify-items: center;
  align-items: center;
}

.card {
  width: 10rem;
  height: 14rem;
  margin: 10px;
  z-index: 0;
}
.card-body{
  text-align: center;
  font-size: 1.5rem;
}

#projects{
  background-color: #B185DB;
  background: linear-gradient(to bottom, #B185DB, #DEC9E9);
  margin: 0 !important;
  height: 100%;
  text-align: center;
}

#projectText{
  font-size: 9vh;
  color: white;
  padding-top: 3rem;
}

.projectContainer{
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}
.projectcontent {
  display: flex;
  margin-left: 5rem;
  margin-right: 5rem
}

.projectitem {
  border: 1px solid #efefef;
  width: 75rem;
  height: 35rem;
  display: flex;
  align-items: center;

  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  background: rgba(255,255,255,0.1);
  overflow: hidden;
  border-top: 1px solid rgba(255,255,255,0.5);
  border-left: 1px solid rgba(255,255,255,0.5);
  backdrop-filter: blur(5px);
}
.projectitem:not(:last-child) {
  margin-right: 4rem;
}

.thumbnail {
  flex: 0 0 auto;
  margin-right: 10px;
  margin-left: 10px;
  max-width: 40rem;
}

.projectnum{
 font-size: 3rem;
}

.circle1, .circle2, .circle3, .circle4{
  border-radius: 50%;
  position: fixed;
}

.circle1{
  background: black;
  width: 200px;
  height: 200px;
}

.circle2{
  background: red;
  width: 400px;
  height: 400px;
}

.circle3{
  background: green;
  width: 300px;
  height: 300px;
}

.circle4{
  background: purple;
  width: 200px;
  height: 200px;
}

#contact{
    background-color: #DEC9E9;
    background: linear-gradient(to bottom, #DEC9E9, white);
    margin: 0 !important;
    height: 98vh;
    color: white;
    text-align: center;
}
