::-webkit-scrollbar {
    display: none;
}
@font-face {
  font-family: "Pokemon GB";
  src:url("img/PokemonGb-RAeo.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
    margin: 0;
    overflow-x: hidden;
  }

html, body {
    width:  100%;
    height: 100%;
    margin: 0;
    background-color: rgb(0, 0, 0);
  }

#mobileSite{
    font-family: 'Shantell Sans', cursive;
    color: rgb(255, 255, 255);
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(img/blue.png);
}

#mobileText{
    font-weight: bold;
    font-size: 50px;
}

#name {
    position: absolute;
    bottom: 0;
    font-weight: bold;
    font-size: 50px;
}

@media screen and (max-width: 1024px) {
    #mobileSite {
      display: flex;
    }
    header, #threeD, #about, #canvas3d {
        display: none;
      }
    html, body {
      touch-action: none
      }
  }

.navbar{
    background-color: transparent;
    width: 100%; 
    text-align: center;
    font-family: 'Kanit', sans-serif;
    color: white;
}

.navbar-brand{
    font-size: 30px !important;
    color: white;
}


#threeD{
      margin: 0 !important;
      height: 100% !important;
      background-color: rgb(18,24,85);
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      background-image: url(img/polka.PNG);
      background-size: cover;

  }
canvas {
    display: block;
    margin: 0 auto;
    height:  100% !important; /* set the height to 100% to fill the available vertical space */
    width: 100% !important; /* set the width to auto to maintain the aspect ratio */
}

#canvas3d {
    display: none;
  }


.loader {
    border: 16px solid #f3f3f3; 
    border-top: 16px solid #3498db; 
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;

  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.loadText{
    color: white;
    font-family: 'Kanit', sans-serif;
    
}


.box {
  display: none;
  position:absolute;
  bottom:7vh;
  z-index:2;
  font-size: 2vh;
  font-family: "Pokemon GB", Arial, sans-serif;
  border-radius: 2px;
  padding: 8px;
  width: 50vh;
  height: 15vh;
  margin-top: 50vh;
  line-height: 3vh;
  background: white;
  border: 1px solid white;
  box-shadow: 0 1px 0 1px black,
              inset 0 1px 0 1px black,
              0 0 0 1px black,
              inset 0 0 0 1px black;
}
.box > i {
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-top-color: black;
  margin-top: 23px;
  animation: bounce 0.5s ease-in-out 0 infinite alternate;
  float: right;
}

@keyframes bounce {
  from { margin-top: 20px; }
  to { margin-top: 23px; }
}

#about{
  background-color: rgb(62,17,131);
  margin: 0 !important;
  height: 105vh;
  color: white;
  text-align: center;

}

.abouttext{
padding-top: 4vh;
font-size: 9vh;
padding-top: 5rem;
}

.aboutbody{
font-size: 3vh;
margin: 5rem 30vh;
display: flex;
flex-direction: column;
justify-content: center;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --color-primary: #f6d3a2;
  --color-secondary: #f49b90;
  --color-tertiary: #f28b7d;
  --color-quaternary: #f07a6a;
  --color-quinary: #ee6352;
}


.abouttext {
  text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary),
    9px 9px var(--color-quaternary), 12px 12px 0 var(--color-quinary);
  font-family: bungee, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: calc(2rem + 5vw);
  text-align: center;
  margin: 0;
  color: var(--color-primary);
  animation: shadows 1.2s ease-in infinite;
  letter-spacing: 0.4rem;
}

@keyframes shadows {
  0% {
    text-shadow: none;
  }
  10% {
    transform: translate(-3px, -3px);
    text-shadow: 3px 3px 0 var(--color-secondary);
  }
  20% {
    transform: translate(-6px, -6px);
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary);
  }
  30% {
    transform: translate(-9px, -9px);
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
  }
  40% {
    transform: translate(-12px, -12px);
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
      12px 12px 0 var(--color-quinary);
  }
  50% {
    transform: translate(-12px, -12px);
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
      12px 12px 0 var(--color-quinary);
  }
  60% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
      12px 12px 0 var(--color-quinary);
  }
  70% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
  }
  80% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary);
  }
  90% {
    text-shadow: 3px 3px 0 var(--color-secondary);
  }
  100% {
    text-shadow: none;
  }
}

.button{
  font-size: 2rem;
  border-radius: 10rem;
}

#skills{
  background-color: rgb(62,17,131);
  height: 100%;
}
.skilltext{
  color: white;
  font-size: 9vh;
  text-align: center;
}
.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 20px;
  justify-items: center;
  align-items: center;
  margin-bottom: 20px;
}

.card {
  width: 10rem;
  height: 14rem;
  margin: 10px;
}
.card-body{
  text-align: center;
  font-size: 1.5rem;
}

#projects{
    background-color: rgb(62,17,131);
    margin: 0 !important;
    padding-top: 10rem;
    height: 100%;
    color: white;
    text-align: center;
}

#projectText{
  font-size: 9vh;
}

#contact{
    background-color: rgb(18,24,85);
    margin: 0 !important;
    height: 98vh;
    color: white;
    text-align: center;
}
